@media (min-width:1367px),
print {
    .table_contents {
        background-color: #f9f9f9;
        margin: -9px 0 60px;
        padding: 20px 30px
    }

    .table_contents .heading {
        font-size: 2rem;
        font-weight: 700;
        line-height: 38px;
        margin-bottom: 10px
    }

    .table_contents ul {
        color: #00a040;
        counter-reset: listNum;
        font-size: 1.8rem;
        line-height: 34px
    }

    .table_contents ul a {
        border-bottom: 1px solid #00a040;
        cursor: pointer;
        padding-bottom: 2px;
        -webkit-transition: border .3s ease;
        -o-transition: border .3s ease;
        transition: border .3s ease;
        will-change: border
    }

    .table_contents ul a:hover {
        border-color: transparent
    }

    .table_contents ul>li {
        counter-increment: listNum;
        position: relative
    }

    .table_contents ul>li>a:before {
        content: counter(listNum);
        font-family: Open Sans, sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        margin-right: 12px
    }

    .table_contents ul>li ol {
        counter-reset: listSub;
        margin-left: 15px
    }

    .table_contents ul>li ol>li {
        counter-increment: listSub;
        position: relative
    }

    .table_contents ul>li ol>li>a:before {
        content: counter(listNum) "." counter(listSub);
        font-family: Open Sans, sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        margin-right: 12px
    }

    .c-detail__head {
        margin-bottom: 51px
    }

    .c-detail__head .time {
        font-size: 1.6rem;
        letter-spacing: 1px
    }

    .c-detail__head h1 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        border-bottom: 1px solid #e4e4e4;
        font-size: 2.6rem;
        font-weight: 500;
        letter-spacing: 3px;
        line-height: 38px;
        margin: 16px 0 0;
        padding-bottom: 24px
    }

    .c-detail__head h1+h3 {
        margin-top: 19px
    }

    .c-detail__head h1+h2 {
        margin-top: 19px
    }

    .c-detail h3 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 38px
    }

    .wysiwyg>a:not(a[target=_blank]) {
        border-bottom: 1px solid #00a040;
        color: #00a040;
        padding-bottom: 5px;
        -webkit-transition: border .3s ease;
        -o-transition: border .3s ease;
        transition: border .3s ease;
        will-change: border
    }

    .wysiwyg>a:not(a[target=_blank]):hover {
        border-color: transparent
    }

    .wysiwyg u {
        text-underline-offset: 9px
    }

    .wysiwyg h2 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        border-left: 3px solid #00a040;
        color: #00a040;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 2.8px;
        line-height: 38px;
        margin-bottom: 20px;
        padding-left: 12px
    }

    .wysiwyg h3 {
        margin-bottom: 34px
    }

    .wysiwyg ul li {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 34px;
        padding-left: 15px;
        position: relative
    }

    .wysiwyg ul li:before {
        background-color: #00a040;
        border-radius: 50%;
        content: "";
        height: 8px;
        left: 0;
        position: absolute;
        top: 15px;
        width: 8px
    }

    .wysiwyg p {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        line-height: 34px
    }

    .wysiwyg p+h2 {
        margin-top: 80px
    }

    .wysiwyg p+h3 {
        margin-top: 80px
    }

    .wysiwyg p+p {
        margin-top: 41px
    }

    .wysiwyg p+img {
        margin-top: 98px
    }

    .wysiwyg p a {
        border-bottom: 1px solid #00a040;
        color: #00a040;
        padding-bottom: 5px;
        -webkit-transition: border .3s ease;
        -o-transition: border .3s ease;
        transition: border .3s ease;
        will-change: border
    }

    .wysiwyg p a:hover {
        border-color: transparent
    }

    .wysiwyg img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .wysiwyg img+p {
        margin-top: 30px
    }

    .wysiwyg .text-center {
        text-align: center
    }

    .wysiwyg .text-right {
        text-align: right
    }

    .wysiwyg .text-medium {
        font-weight: 500
    }

    .wysiwyg .text-lg {
        font-size: 1.6rem;
        line-height: 22px
    }

    .wysiwyg .float {
        margin: 24px 0
    }

    .wysiwyg .float+h2,
    .wysiwyg .float+h3 {
        margin-top: 70px
    }

    .wysiwyg .float.reverse img {
        float: right;
        margin-left: 28px;
        margin-right: 0
    }

    .wysiwyg .float img {
        display: block;
        float: left;
        margin-right: 28px;
        max-width: 450px;
        width: auto
    }

    .wysiwyg .float p {
        margin: 0
    }

    .wysiwyg .float--rev img {
        float: right;
        margin-left: 28px;
        margin-right: 0
    }

    .wysiwyg .flex {
        display: -webkit-box;
        display: flex;
        padding-top: 19px
    }

    .wysiwyg .flex+.flex {
        margin-top: 23px
    }

    .wysiwyg .flex+h2,
    .wysiwyg .flex+h3 {
        margin-top: 79px
    }

    .wysiwyg .flex-img {
        flex-shrink: 0;
        margin-right: 42px;
        width: 652px
    }

    .wysiwyg .flex-txt {
        margin-top: -8px
    }

    .wysiwyg .flex.reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse
    }

    .wysiwyg .flex.reverse .flex-img {
        margin: 0 0 0 30px
    }

    .wysiwyg .file {
        margin: 27px 0 32px
    }

    .wysiwyg .file a {
        border-bottom: 1px solid #e2e2e2;
        display: block;
        font-size: 1.8rem;
        line-height: 34px;
        padding: 15px 90px 15px 28px;
        position: relative;
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
        will-change: opacity
    }

    .wysiwyg .file a:hover {
        opacity: .7
    }

    .wysiwyg .file a:before {
        background: url(/assets/images/common/arr_right.png) no-repeat 100%;
        background-size: contain;
        content: "";
        height: 11px;
        left: 9px;
        position: absolute;
        top: 27px;
        width: 8px
    }

    .wysiwyg .c-icon {
        background-position: 100%;
        background-repeat: no-repeat;
        font-size: 1.6rem;
        font-style: normal;
        height: 25px;
        letter-spacing: 1px;
        line-height: 25px;
        padding-right: 26px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 75px
    }

    .wysiwyg .c-icon__pdf {
        background-image: url(/assets/images/common/pdf.png);
        background-size: 16px 20px
    }

    .wysiwyg .c-icon__word {
        background-image: url(/assets/images/common/word.png);
        background-size: 17px 17px
    }

    .wysiwyg .c-icon__excel {
        background-image: url(/assets/images/common/excel.png);
        background-size: 17px 16px
    }

    .wysiwyg .block-link {
        -webkit-box-pack: center;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -42px
    }

    .wysiwyg .block-link .link-blank {
        margin: 20px 42px
    }

    .wysiwyg .link-blank {
        border-bottom: 1px solid #b1b1b1;
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 37px;
        padding-right: 44px;
        position: relative;
        -webkit-transition: border .3s ease, opacity .3s ease;
        -o-transition: border .3s ease, opacity .3s ease;
        transition: border .3s ease, opacity .3s ease;
        will-change: border, opacity
    }

    .wysiwyg .link-blank:hover {
        border-color: transparent;
        opacity: .8
    }

    .wysiwyg .link-blank:after {
        background: url(/assets/images/common/icon_blank.png) no-repeat 50%;
        background-size: contain;
        content: "";
        height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 16px
    }

    .wysiwyg table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 16px;
        table-layout: fixed;
        width: 100%
    }

    .wysiwyg table td,
    .wysiwyg table th {
        border-right: 1px solid #bcbcbc;
        border-top: 1px solid #bcbcbc;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 28px
    }

    .wysiwyg table td:first-child,
    .wysiwyg table th:first-child {
        border-left: 1px solid #bcbcbc
    }

    .wysiwyg table td p,
    .wysiwyg table th p {
        font-size: inherit
    }

    .wysiwyg table td a,
    .wysiwyg table th a {
        border-bottom: 1px solid #00a040;
        color: #00a040;
        padding-bottom: 5px;
        -webkit-transition: border .3s ease;
        -o-transition: border .3s ease;
        transition: border .3s ease;
        will-change: border
    }

    .wysiwyg table td a:hover,
    .wysiwyg table th a:hover {
        border-color: transparent
    }

    .wysiwyg table thead th {
        background-color: #f2f2f2;
        font-weight: 400;
        padding: 4px 20px 6px
    }

    .wysiwyg table tbody td,
    .wysiwyg table tbody th {
        border-bottom: 1px solid #bcbcbc
    }

    .wysiwyg table tbody th {
        background-color: #f2f2f2;
        font-weight: 400
    }

    .wysiwyg table tbody td {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        letter-spacing: 1px;
        padding: 16px 20px 18px
    }

    .popular {
        margin-top: 110px
    }

    .popular>h2 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        border-left: 3px solid #00a040;
        color: #00a040;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 2.8px;
        line-height: 38px;
        margin-bottom: 34px;
        padding-left: 12px
    }

    .popular-list .c-case {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        position: relative;
        width: 100%
    }

    .popular-list .c-case+.c-case {
        margin-top: 50px
    }

    .popular-list .c-case-title {
        font-size: 1.8rem;
        line-height: 32px;
        margin: 2px 0 14px
    }

    .popular-list .c-case-thumb {
        flex-shrink: 0;
        height: 287px;
        margin-bottom: 0;
        margin-right: 38px;
        width: 480px
    }

    .popular-list .c-case__content {
        margin: -12px 0 0;
        padding-bottom: 50px
    }

    .popular-list .c-case .viewmore {
        bottom: -1px;
        left: 520px;
        position: absolute
    }
}

@media (min-width:769px) and (max-width:1366px) {
    .table_contents {
        background-color: #f9f9f9;
        margin: calc(var(--vw)*-.65886) 0 calc(var(--vw)*4.39239);
        padding: calc(var(--vw)*1.46413) calc(var(--vw)*2.19619)
    }

    .table_contents .heading {
        font-size: calc(var(--vw)*1.46413);
        font-weight: 700;
        line-height: calc(var(--vw)*2.78184);
        margin-bottom: calc(var(--vw)*.73206)
    }

    .table_contents ul {
        color: #00a040;
        counter-reset: listNum;
        font-size: calc(var(--vw)*1.31772);
        line-height: calc(var(--vw)*2.48902)
    }

    .table_contents ul a {
        border-bottom: 1px solid #00a040;
        cursor: pointer;
        padding-bottom: calc(var(--vw)*.14641);
        -webkit-transition: border .3s ease;
        -o-transition: border .3s ease;
        transition: border .3s ease;
        will-change: border
    }

    .table_contents ul a:hover {
        border-color: transparent
    }

    .table_contents ul>li {
        counter-increment: listNum;
        position: relative
    }

    .table_contents ul>li>a:before {
        content: counter(listNum);
        font-family: Open Sans, sans-serif;
        font-size: calc(var(--vw)*1.31772);
        font-weight: 400;
        margin-right: calc(var(--vw)*.87848)
    }

    .table_contents ul>li ol {
        counter-reset: listSub;
        margin-left: calc(var(--vw)*1.0981)
    }

    .table_contents ul>li ol>li {
        counter-increment: listSub;
        position: relative
    }

    .table_contents ul>li ol>li>a:before {
        content: counter(listNum) "." counter(listSub);
        font-family: Open Sans, sans-serif;
        font-size: calc(var(--vw)*1.31772);
        font-weight: 400;
        margin-right: calc(var(--vw)*.87848)
    }

    .c-detail__head {
        margin-bottom: calc(var(--vw)*3.73353)
    }

    .c-detail__head .time {
        font-size: calc(var(--vw)*1.1713);
        letter-spacing: 1px
    }

    .c-detail__head h1 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        border-bottom: 1px solid #e4e4e4;
        font-size: calc(var(--vw)*1.90337);
        font-weight: 500;
        letter-spacing: calc(var(--vw)*.21962);
        line-height: calc(var(--vw)*2.78184);
        margin: calc(var(--vw)*1.1713) 0 0;
        padding-bottom: calc(var(--vw)*1.75695)
    }

    .c-detail__head h1+h3 {
        margin-top: calc(var(--vw)*1.39092)
    }

    .c-detail__head h1+h2 {
        margin-top: calc(var(--vw)*1.39092)
    }

    .c-detail h3 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        font-size: calc(var(--vw)*1.46413);
        font-weight: 700;
        letter-spacing: 1px;
        line-height: calc(var(--vw)*2.78184)
    }

    .wysiwyg>a:not(a[target=_blank]) {
        border-bottom: 1px solid #00a040;
        color: #00a040;
        padding-bottom: calc(var(--vw)*.36603);
        -webkit-transition: border .3s ease;
        -o-transition: border .3s ease;
        transition: border .3s ease;
        will-change: border
    }

    /* .wysiwyg>a:not(a[target=_blank]):hover {
        border-color: transparent
    } */

    .wysiwyg u {
        text-underline-offset: calc(var(--vw)*.65886)
    }

    .wysiwyg h2 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        border-left: calc(var(--vw)*.21962) solid #00a040;
        color: #00a040;
        font-size: calc(var(--vw)*1.75695);
        font-weight: 700;
        letter-spacing: calc(var(--vw)*.20498);
        line-height: calc(var(--vw)*2.78184);
        margin-bottom: calc(var(--vw)*1.46413);
        padding-left: calc(var(--vw)*.87848)
    }

    .wysiwyg h3 {
        margin-bottom: calc(var(--vw)*2.48902)
    }

    .wysiwyg ul li {
        font-size: calc(var(--vw)*1.31772);
        font-weight: 300;
        line-height: calc(var(--vw)*2.48902);
        padding-left: calc(var(--vw)*1.0981);
        position: relative
    }

    .wysiwyg ul li:before {
        background-color: #00a040;
        border-radius: 50%;
        content: "";
        height: calc(var(--vw)*.58565);
        left: 0;
        position: absolute;
        top: calc(var(--vw)*1.0981);
        width: calc(var(--vw)*.58565)
    }

    .wysiwyg p {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        font-size: calc(var(--vw)*1.31772);
        letter-spacing: calc(var(--vw)*.10981);
        line-height: calc(var(--vw)*2.48902)
    }

    .wysiwyg p+h2 {
        margin-top: calc(var(--vw)*5.85652)
    }

    .wysiwyg p+h3 {
        margin-top: calc(var(--vw)*5.85652)
    }

    .wysiwyg p+p {
        margin-top: calc(var(--vw)*3.00146)
    }

    .wysiwyg p+img {
        margin-top: calc(var(--vw)*7.17423)
    }

    .wysiwyg p a {
        border-bottom: 1px solid #00a040;
        color: #00a040 !important;
        padding-bottom: calc(var(--vw)*.36603);
        -webkit-transition: border .3s ease;
        -o-transition: border .3s ease;
        transition: border .3s ease;
        will-change: border
    }

    .wysiwyg p a:hover {
        border-color: transparent
    }

    .wysiwyg img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .wysiwyg img+p {
        margin-top: calc(var(--vw)*2.19619)
    }

    .wysiwyg img+img {
        margin-top: calc(var(--vw)*2.19619)
    }

    .wysiwyg .text-center {
        text-align: center
    }

    .wysiwyg .text-right {
        text-align: right
    }

    .wysiwyg .text-medium {
        font-weight: 500
    }

    .wysiwyg .text-lg {
        font-size: calc(var(--vw)*1.1713);
        line-height: calc(var(--vw)*1.61054)
    }

    .wysiwyg .float {
        margin: calc(var(--vw)*1.75695) 0
    }

    .wysiwyg .float+h2,
    .wysiwyg .float+h3 {
        margin-top: calc(var(--vw)*5.12445)
    }

    .wysiwyg .float.reverse img {
        float: right;
        margin-left: calc(var(--vw)*2.04978);
        margin-right: 0
    }

    .wysiwyg .float img {
        display: block;
        float: left;
        margin-right: calc(var(--vw)*2.04978);
        max-width: calc(var(--vw)*47.7306);
        width: auto
    }

    .wysiwyg .float p {
        margin: 0
    }

    .wysiwyg .float--rev img {
        float: right;
        margin-left: calc(var(--vw)*2.04978);
        margin-right: 0
    }

    .wysiwyg .flex {
        display: -webkit-box;
        display: flex;
        padding-top: calc(var(--vw)*1.39092)
    }

    .wysiwyg .flex+.flex {
        margin-top: calc(var(--vw)*1.68375)
    }

    .wysiwyg .flex+h2,
    .wysiwyg .flex+h3 {
        margin-top: calc(var(--vw)*5.78331)
    }

    .wysiwyg .flex-img {
        flex-shrink: 0;
        margin-right: calc(var(--vw)*3.07467);
        width: calc(var(--vw)*47.7306)
    }

    .wysiwyg .flex-txt {
        margin-top: calc(var(--vw)*-.58565)
    }

    .wysiwyg .flex.reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse
    }

    .wysiwyg .flex.reverse .flex-img {
        margin: 0 0 0 calc(var(--vw)*2.19619)
    }

    .wysiwyg .file {
        margin: calc(var(--vw)*1.97657) 0 calc(var(--vw)*2.34261)
    }

    .wysiwyg .file a {
        border-bottom: 1px solid #e2e2e2;
        display: block;
        font-size: calc(var(--vw)*1.31772);
        line-height: calc(var(--vw)*2.48902);
        padding: calc(var(--vw)*1.0981) calc(var(--vw)*6.58858) calc(var(--vw)*1.0981) calc(var(--vw)*2.04978);
        position: relative;
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
        will-change: opacity
    }

    .wysiwyg .file a:hover {
        opacity: .7
    }

    .wysiwyg .file a:before {
        background: url(/assets/images/common/arr_right.png) no-repeat 100%;
        background-size: contain;
        content: "";
        height: calc(var(--vw)*.80527);
        left: calc(var(--vw)*.65886);
        position: absolute;
        top: calc(var(--vw)*1.97657);
        width: calc(var(--vw)*.58565)
    }

    .wysiwyg .c-icon {
        background-position: 100%;
        background-repeat: no-repeat;
        font-size: calc(var(--vw)*1.1713);
        font-style: normal;
        height: calc(var(--vw)*1.83016);
        letter-spacing: 1px;
        line-height: calc(var(--vw)*1.83016);
        padding-right: calc(var(--vw)*1.90337);
        position: absolute;
        right: 0;
        text-align: right;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: calc(var(--vw)*5.49048)
    }

    .wysiwyg .c-icon__pdf {
        background-image: url(/assets/images/common/pdf.png);
        background-size: calc(var(--vw)*1.1713) calc(var(--vw)*1.46413)
    }

    .wysiwyg .c-icon__word {
        background-image: url(/assets/images/common/word.png);
        background-size: calc(var(--vw)*1.24451) calc(var(--vw)*1.24451)
    }

    .wysiwyg .c-icon__excel {
        background-image: url(/assets/images/common/excel.png);
        background-size: calc(var(--vw)*1.24451) calc(var(--vw)*1.1713)
    }

    .wysiwyg .block-link {
        -webkit-box-pack: center;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 calc(var(--vw)*-3.07467) 0
    }

    .wysiwyg .block-link .link-blank {
        margin: calc(var(--vw)*1.46413) calc(var(--vw)*3.07467)
    }

    .wysiwyg .link-blank {
        border-bottom: 1px solid #b1b1b1;
        display: inline-block;
        font-size: calc(var(--vw)*1.31772);
        font-weight: 400;
        line-height: calc(var(--vw)*2.70864);
        padding-right: calc(var(--vw)*3.22108);
        position: relative;
        -webkit-transition: border .3s ease, opacity .3s ease;
        -o-transition: border .3s ease, opacity .3s ease;
        transition: border .3s ease, opacity .3s ease;
        will-change: border, opacity
    }

    .wysiwyg .link-blank:hover {
        border-color: transparent;
        opacity: .8
    }

    .wysiwyg .link-blank:after {
        background: url(/assets/images/common/icon_blank.png) no-repeat 50%;
        background-size: contain;
        content: "";
        height: calc(var(--vw)*1.1713);
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: calc(var(--vw)*1.1713)
    }

    .wysiwyg table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: calc(var(--vw)*1.1713);
        table-layout: fixed;
        width: 100%
    }

    .wysiwyg table td,
    .wysiwyg table th {
        border-right: 1px solid #bcbcbc;
        border-top: 1px solid #bcbcbc;
        font-size: calc(var(--vw)*1.02489);
        font-weight: 300;
        line-height: calc(var(--vw)*2.04978)
    }

    .wysiwyg table td:first-child,
    .wysiwyg table th:first-child {
        border-left: 1px solid #bcbcbc
    }

    .wysiwyg table td p,
    .wysiwyg table th p {
        font-size: inherit
    }

    .wysiwyg table td a,
    .wysiwyg table th a {
        border-bottom: 1px solid #00a040;
        color: #00a040;
        padding-bottom: calc(var(--vw)*.36603);
        -webkit-transition: border .3s ease;
        -o-transition: border .3s ease;
        transition: border .3s ease;
        will-change: border
    }

    .wysiwyg table thead th {
        background-color: #f2f2f2;
        font-weight: 400;
        padding: calc(var(--vw)*.29283) calc(var(--vw)*1.46413) calc(var(--vw)*.43924)
    }

    .wysiwyg table tbody td,
    .wysiwyg table tbody th {
        border-bottom: 1px solid #bcbcbc
    }

    .wysiwyg table tbody th {
        background-color: #f2f2f2;
        font-weight: 400
    }

    .wysiwyg table tbody td {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        letter-spacing: 1px;
        padding: calc(var(--vw)*1.1713) calc(var(--vw)*1.46413) calc(var(--vw)*1.31772)
    }

    .popular {
        margin-top: calc(var(--vw)*8.05271)
    }

    .popular>h2 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        border-left: calc(var(--vw)*.21962) solid #00a040;
        color: #00a040;
        font-size: calc(var(--vw)*1.75695);
        font-weight: 700;
        letter-spacing: calc(var(--vw)*.20498);
        line-height: calc(var(--vw)*2.78184);
        margin-bottom: calc(var(--vw)*2.48902);
        padding-left: calc(var(--vw)*.87848)
    }

    .popular-list .c-case {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        position: relative;
        width: 100%
    }

    .popular-list .c-case+.c-case {
        margin-top: calc(var(--vw)*3.66032)
    }

    .popular-list .c-case-title {
        font-size: calc(var(--vw)*1.31772);
        line-height: calc(var(--vw)*2.34261);
        margin: calc(var(--vw)*.14641) 0 calc(var(--vw)*1.02489)
    }

    .popular-list .c-case-thumb {
        flex-shrink: 0;
        height: calc(var(--vw)*21.01025);
        margin-bottom: 0;
        margin-right: calc(var(--vw)*2.78184);
        width: calc(var(--vw)*35.13909)
    }

    .popular-list .c-case__content {
        margin: calc(var(--vw)*-.87848) 0 calc(var(--vw)*2.04978) 0;
        margin-bottom: 0;
        padding-bottom: calc(var(--vw)*3.66032)
    }

    .popular-list .c-case .viewmore {
        bottom: calc(var(--vw)*-.07321);
        left: calc(var(--vw)*35.13909 + var(--vw)*2.92826);
        position: absolute
    }
}

@media only screen and (max-width:768px) {
    .table_contents {
        background-color: #f9f9f9;
        margin: 8.854166666666668vw 0 7.8125vw;
        padding: 4.427083333333334vw 3.90625vw
    }

    .table_contents .heading {
        font-size: 4.166666666666666vw;
        font-weight: 700;
        line-height: 4.947916666666666vw;
        margin-bottom: 1.5625vw
    }

    .table_contents ul {
        color: #00a040;
        counter-reset: listNum;
        font-size: 3.6458333333333335vw;
        line-height: 6.640625vw
    }

    .table_contents ul a {
        border-bottom: .26041666666666663vw solid #00a040;
        padding-bottom: 1.0416666666666665vw
    }

    .table_contents ul>li {
        counter-increment: listNum;
        padding: 1.4322916666666665vw 0 1.3020833333333335vw;
        position: relative
    }

    .table_contents ul>li>a:before {
        content: counter(listNum);
        font-family: Open Sans, sans-serif;
        font-size: 3.6458333333333335vw;
        font-weight: 400;
        margin-right: 2.083333333333333vw
    }

    .table_contents ul>li ol {
        counter-reset: listSub;
        margin: 1.3020833333333335vw 0 -1.5625vw 2.604166666666667vw
    }

    .table_contents ul>li ol>li {
        counter-increment: listSub;
        padding: 1.3020833333333335vw 0;
        position: relative
    }

    .table_contents ul>li ol>li>a:before {
        content: counter(listNum) "." counter(listSub);
        font-family: Open Sans, sans-serif;
        font-size: 3.6458333333333335vw;
        font-weight: 400;
        margin-right: 2.083333333333333vw
    }

    .c-detail__head {
        margin-bottom: 7.161458333333333vw
    }

    .c-detail__head .time {
        font-size: 3.3854166666666665vw;
        letter-spacing: .26041666666666663vw;
        margin-left: 1.0416666666666665vw
    }

    .c-detail__head h1 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        border-bottom: .26041666666666663vw solid #e4e4e4;
        font-size: 5.208333333333334vw;
        font-weight: 500;
        letter-spacing: .5208333333333333vw;
        line-height: 7.161458333333333vw;
        margin: 1.8229166666666667vw 0 5.598958333333334vw;
        padding-bottom: 5.46875vw
    }

    .c-detail h3 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        font-size: 3.90625vw;
        font-weight: 700;
        letter-spacing: .390625vw;
        line-height: 7.161458333333333vw
    }

    .wysiwyg>a:not(a[target=_blank]) {
        border-bottom: .26041666666666663vw solid #00a040;
        color: #00a040;
        padding-bottom: .6510416666666667vw
    }

    .wysiwyg u {
        text-underline-offset: 1.171875vw
    }

    .wysiwyg h2 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        border-left: .5208333333333333vw solid #00a040;
        color: #00a040;
        font-size: 4.6875vw;
        font-weight: 700;
        letter-spacing: .3645833333333333vw;
        line-height: 7.161458333333333vw;
        margin-bottom: 4.427083333333334vw;
        padding-left: 1.5625vw
    }

    .wysiwyg h2+h3 {
        margin-bottom: 7.421875vw
    }

    .wysiwyg h3 {
        margin-bottom: 4.427083333333334vw
    }

    .wysiwyg ul li {
        font-size: 3.6458333333333335vw;
        font-weight: 300;
        line-height: 6.119791666666666vw;
        padding: 1.3020833333333335vw 0 0 2.864583333333333vw;
        position: relative
    }

    .wysiwyg ul li:before {
        background-color: #00a040;
        border-radius: 50%;
        content: "";
        height: 1.5625vw;
        left: 0;
        position: absolute;
        top: 3.7760416666666665vw;
        width: 1.5625vw
    }

    .wysiwyg p {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        font-size: 3.6458333333333335vw;
        letter-spacing: .26041666666666663vw;
        line-height: 6.119791666666666vw
    }

    .wysiwyg p+h2 {
        margin-top: 11.067708333333332vw
    }

    .wysiwyg p+h3 {
        margin-top: 4.427083333333334vw
    }

    .wysiwyg p+p {
        margin-top: 6.25vw
    }

    .wysiwyg p+img {
        margin-top: 11.588541666666668vw
    }

    .wysiwyg p a {
        border-bottom: .26041666666666663vw solid #00a040;
        color: #00a040;
        padding-bottom: .6510416666666667vw
    }

    .wysiwyg img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .wysiwyg img+p {
        margin-top: 4.817708333333334vw
    }

    .wysiwyg img+img {
        margin-top: 3.90625vw
    }

    .wysiwyg picture+p {
        margin-top: 4.817708333333334vw
    }

    .wysiwyg .text-center {
        text-align: center
    }

    .wysiwyg .text-right {
        text-align: right
    }

    .wysiwyg .text-medium {
        font-weight: 500
    }

    .wysiwyg .float {
        margin: 5.208333333333334vw 0
    }

    .wysiwyg .float+h2,
    .wysiwyg .float+h3 {
        margin-top: 9.114583333333332vw
    }

    .wysiwyg .float img {
        display: block;
        width: auto
    }

    .wysiwyg .flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        display: -webkit-box;
        display: flex;
        flex-direction: column
    }

    .wysiwyg .flex+.flex {
        margin-top: 11.588541666666668vw
    }

    .wysiwyg .flex+h2,
    .wysiwyg .flex+h3 {
        margin-top: 11.328125vw
    }

    .wysiwyg .flex-txt {
        margin-top: 4.817708333333334vw
    }

    .wysiwyg .file {
        margin: 3.515625vw 0 0
    }

    .wysiwyg .file a {
        border-bottom: .26041666666666663vw solid #e2e2e2;
        display: block;
        font-size: 3.515625vw;
        line-height: 5.46875vw;
        padding: 3.2552083333333335vw 0 3.90625vw 4.817708333333334vw;
        position: relative
    }

    .wysiwyg .file a:before {
        background: url(/assets/images/common/arr_right.png) no-repeat 100%;
        background-size: contain;
        content: "";
        height: 2.213541666666667vw;
        left: 1.4322916666666665vw;
        position: absolute;
        top: 5.078125vw;
        width: 1.5625vw
    }

    .wysiwyg .c-icon {
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        font-size: 3.125vw;
        font-style: normal;
        letter-spacing: .26041666666666663vw;
        line-height: 1;
        margin-top: .9114583333333334vw
    }

    .wysiwyg .c-icon:after {
        background-position: 50%;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        height: 5.208333333333334vw;
        margin-left: .5208333333333333vw;
        width: 5.208333333333334vw
    }

    .wysiwyg .c-icon__pdf:after {
        background-image: url(/assets/images/common/pdf.png);
        background-size: 3.2552083333333335vw 3.90625vw
    }

    .wysiwyg .c-icon__word:after {
        background-image: url(/assets/images/common/word.png);
        background-size: 3.6458333333333335vw 3.6458333333333335vw
    }

    .wysiwyg .c-icon__excel:after {
        background-image: url(/assets/images/common/excel.png);
        background-size: 3.90625vw 3.7760416666666665vw
    }

    .wysiwyg .block-link {
        margin: 4.427083333333334vw 0
    }

    .wysiwyg .block-link .link-blank {
        margin-bottom: 2.864583333333333vw;
        margin-right: 6.510416666666667vw
    }

    .wysiwyg .link-blank {
        border-bottom: .26041666666666663vw solid #b1b1b1;
        display: inline-block;
        font-size: 3.6458333333333335vw;
        font-weight: 400;
        letter-spacing: .13020833333333331vw;
        line-height: 7.421875vw;
        padding-right: 5.729166666666666vw;
        position: relative;
        text-indent: -.6510416666666667vw
    }

    .wysiwyg .link-blank:after {
        background: url(/assets/images/common/icon_blank.png) no-repeat 50%;
        background-size: contain;
        content: "";
        height: 3.125vw;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 3.125vw
    }

    .wysiwyg .table {
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        padding-bottom: .26041666666666663vw
    }

    .wysiwyg table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 3.6458333333333335vw;
        table-layout: fixed;
        width: 195.3125vw
    }

    .wysiwyg table td,
    .wysiwyg table th {
        border-right: .26041666666666663vw solid #bcbcbc;
        border-top: .26041666666666663vw solid #bcbcbc;
        font-size: 2.734375vw;
        font-weight: 300;
        line-height: 3.6458333333333335vw
    }

    .wysiwyg table td:first-child,
    .wysiwyg table th:first-child {
        border-left: .26041666666666663vw solid #bcbcbc
    }

    .wysiwyg table td p,
    .wysiwyg table th p {
        font-size: inherit
    }

    .wysiwyg table td a,
    .wysiwyg table th a {
        border-bottom: .26041666666666663vw solid #00a040;
        color: #00a040;
        padding-bottom: .6510416666666667vw
    }

    .wysiwyg table thead th {
        background-color: #f2f2f2;
        font-weight: 400;
        padding: 1.5625vw 2.864583333333333vw 2.083333333333333vw
    }

    .wysiwyg table tbody td,
    .wysiwyg table tbody th {
        border-bottom: .26041666666666663vw solid #bcbcbc;
        font-size: 3.125vw;
        line-height: 5.208333333333334vw
    }

    .wysiwyg table tbody th {
        background-color: #f2f2f2;
        font-weight: 400
    }

    .wysiwyg table tbody td {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        letter-spacing: .13020833333333331vw;
        padding: 1.8229166666666667vw 3.90625vw 3.3854166666666665vw
    }

    .popular {
        margin-top: 14.322916666666666vw
    }

    .popular>h2 {
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1;
        border-left: .5208333333333333vw solid #00a040;
        color: #00a040;
        font-size: 4.6875vw;
        font-weight: 700;
        letter-spacing: .3645833333333333vw;
        line-height: 7.161458333333333vw;
        margin-bottom: 7.8125vw;
        padding-left: 1.5625vw
    }

    .popular-list .c-case+.c-case {
        margin-top: 10.416666666666668vw
    }
}